*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{   
   
  background-color:black ;

}


.card{
    width: 90%;
    max-width: 470px;
    background:linear-gradient(135deg, #FF1B64 , #8B47FC);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 25px;
    padding: 40px 25px ;
    text-align: centers;
}


